<app-header />
<main>
  <app-category-nav />
  <section class="grid-vinilos">
    @for (album of albums(); track album.id) {
      <article class="vinilo">
        <img [src]="album.cover" [alt]="album.title" />
        <div class="vinilo-content">
          <h3>{{ album.title }}</h3>
          <p>{{ album.genre }}</p>
          <p class="precio">{{ album.price | currency:'CLP':'symbol':'1.0-0' }}</p>
          @if (album.hasDiscount) {
            <span class="descuento">Descuento: Si</span>
          } @else {
            <span class="sin-descuento">Descuento: No</span>
          }
          <button class="btn-agregar" (click)="addToCart(album)">
            + Agregar al carrito
          </button>
        </div>
      </article>
    }
  </section>
  <a class="nav-volver" routerLink="/">Volver al inicio</a>
</main>