<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

<header>
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-2">
      <a routerLink="/">
        <img src="/logo/logo3.png" alt="Logo" class="felynos-logo">
      </a>
      <h1 id="logo-name" class="mb-0">Filynos.</h1>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar" />
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg>
    </div>

    <div id="authNav" class="d-flex flex-wrap gap-2 justify-content-center justify-content-md-end align-items-center">

      @if (!currentUser) {
      <svg xmlns="http://www.w3.org/2000/svg" routerLink="/login" width="40" height="40" fill="currentColor"
        class="bi bi-person" viewBox="0 0 16 16">
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
      </svg>
      } @else {
      @if (isAdmin) {
      <a class="btn btn-outline-light" routerLink="/admin">Administración</a>
      }
      <div class="user-menu" (mouseleave)="startClose()" (mouseenter)="cancelClose()">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
          class="bi bi-person user-icon" viewBox="0 0 16 16" (click)="menuOpen.update(v => !v)">
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
        </svg>
        @if (menuOpen()) {
        <div class="user-dropdown">
          <a routerLink="/profile" (click)="menuOpen.set(false)">Editar perfil</a>
          <button (click)="logout()">Cerrar sesión</button>
        </div>
        }
      </div>
      }

      <app-cart-icon />
    </div>
  </div>
</header>
<nav class="subnav">
  <a routerLink="/catalog">MÚSICA</a>
  <a routerLink="/upcoming">PRÓXIMAMENTE</a>
  <a>W.I.P</a>
  <!-- no se que poner  -->
  <a>MÁS</a>
</nav>

