html,
body,
app-root {
  min-height: 100%;
  background: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  /* background-image: url("/backgrounds/background.png");  */
  background-color: #000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(2) blur(6px);
  transform: scale(1.08);
  z-index: -1;
  pointer-events: none;
}


header {
  background-color: #000000;
  color: #fff;
  padding: 0.5rem ;
  text-align: center;
}




.felynos-logo {
  
  height: 5vh;
  width: auto;
  display: block;
}

#logo-name {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
